
<form>
 <div class="form-group">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
         <lable for="usr">Note Title:</lable>
         <input ng-model="noteName" name="notes" type="text" class="form-control" id="usr">
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="container">
       <div class="row">
          <label for="text">Note Text:</label>
          <textarea class="form-control" name="notes" ng-model="noteText" id="exampleTextarea" rows="3"></textarea>
          <button ng-click="newNote()" class="btn bnt-default" type="submit">New Note</button>
       </div>
    </div>
  </div>
  
</form>
